body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*------------HEADER------------*/
.nav-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav-color-web {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav-logo:hover,
.nav-logo:focus {
    color: #2E2F42;
}

.nav-menu-link {
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.nav-menu-link:hover,
.nav-menu-link:focus {
    color: #404bbf;
}

.contacts {
    font-style: normal;
}

.contacts-item {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}

.contacts-item:hover,
.contacts-item:focus {
    color: #404bbf;
}

/*---------------SECTION---1------------*/
.main {
    background-color: #2E2F42;
}

.main-hero {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

[type="button"] {
    background-color: #4D5AE5;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: inherit;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF
}

/*----------------SECTIO---2------------*/
.advantages-heading {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em
}

.advantages-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em
}

/*---------------SECTIO---3-------------*/
.team {
    background-color: #F4F4FD;
}

.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.team-item {
    background-color: #FFFFFF;
}

.team-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-role {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em
}

/*---------------SECTIO---4--------------*/
.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-category {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*-----------------FOOTER-----------------*/
.footer {
    background-color: #2E2F42;
}

.footer-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-color-studio {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}